* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;  
}
body{
    height: 100vh;
}


nav {
    background: linear-gradient(to bottom,rgb(180, 215, 248),rgb(225, 240, 254),rgb(237, 245, 252), #ffff, rgb(233, 241, 248),  rgb(225, 240, 254), rgb(146, 202, 255) );
    font-size: 16px;
}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    color: rgb(4, 138, 255);
    text-decoration: none;
    padding: 20px;
}

nav li a:hover {
    background-color: rgba(201, 226, 249, 0.684);
    box-shadow: 0 0 2px rgb(4, 138, 255);
}
.subMenu {
    position: absolute;
    box-shadow: 0 0 2px rgb(4, 138, 255);
    display: none;
}
.subMenu a {
    display: block;
    color: rgb(4, 138, 255);
    background-color: rgb(247, 251, 255);
}
.subMenu a:hover {
    background-color: rgb(255, 255, 255);
}
.menu:hover .subMenu {
    display: block;
}
hr{
    border-color: rgba(4, 138, 255, 0.232);
}
.formulario{
    display: flex;
    flex-direction:column ;
    align-items: center;
    width: 100%;
    margin-top: 250px;
    justify-content: center;
    gap: 30px;
    color: rgb(4, 138, 255);
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 17px;
    background-color: rgba(201, 226, 249, 0.684);
    cursor: pointer;
    color: rgb(4, 138, 255);
    border-color: rgb(4, 138, 255);
}
button:hover{
    color: rgba(228, 241, 253, 0.851);
    background-color: rgba(4, 138, 255, 0.8);
    transition: 0.2s all;
    border-radius: 15px;
}