* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;  
}
body{
    height: 100vh;
    background: linear-gradient(100deg, rgb(169, 207, 243), rgb(220, 235, 250), #ffff, rgb(217, 236, 254), rgb(171, 214, 255));
}


nav {
    background: #ffffff;
    font-size: 16px;
    border-bottom: 1px solid rgb(115, 186, 252);
}

nav li {
    display: inline-block;
}

nav li a {
    align-items: left;
    border-right: 1px solid rgb(182, 214, 245);
    display: inline-block;
    color: rgb(4, 138, 255);
    text-decoration: none;
    padding: 20px 40px;
}


nav li a:hover {
    background-color: rgba(207, 227, 247, 0.684);
    box-shadow: 0 0 2px rgb(4, 138, 255);
}
.subMenu {
    position: absolute;
    box-shadow: 0 0 2px rgb(4, 138, 255);
    display: none;
}
.subMenu a {
    display: block;
    color: rgb(4, 138, 255);
    background-color: rgb(247, 251, 255);
}
.subMenu a:hover {
    background-color: rgb(255, 255, 255);
}
.menu:hover .subMenu {
    display: block;
}
hr{
    border-color: rgba(4, 138, 255, 0.232);
}
.formulario{
    display: flex;
    flex-direction:column ;
    align-items: center;
    width: 100%;
    margin-top: 250px;
    justify-content: center;
    gap: 30px;
    color: rgb(4, 138, 255);
}
button{
    width: 100%;
    padding: 15px;
    border-radius: 17px;
    background-color: rgba(195, 220, 244, 0.636);
    cursor: pointer;
    color: rgb(4, 138, 255);
    border: none;
    border: thin solid;
}
button:hover{
    color: rgba(228, 241, 253, 0.851);
    background-color: rgba(50, 156, 249, 0.8);
    transition: 0.2s all;
    border-radius: 15px;
}
.formulario h1{
    font-size: 40px;
    margin-bottom: 25px;
}