#livro1 {
    display: flex;
}
#descricao {
    width: 300px;
    font-size: 14px;
}
#descricao2 {
    width: 400px;
    font-size: 14px;
    margin-right: px;
}

 
#imgLivro {
margin-top: 20px;
}
#categoriaLivro1 {
    background-color: rgb(243, 218, 183);
    text-align: center;
    font-size: 17px;
    padding: 8px;
    margin-bottom: 50px;
    margin-top: 20px;
    
}
#categoriaLivro {
    background-color: rgb(243, 218, 183);
    text-align: center;
    font-size: 17px;
    padding: 8px;
    margin-bottom: 50px;
    margin-top: 50px;
}
#tituloLivro {
    width: 300px;
}

.button {
    background-color: rgb(225, 243, 224);
    border-radius: 5px;
    width: 170px;
    height: 30px;
}   
button:hover {
    background-color: rgb(94, 248, 94);
}
#livroMargin {
    margin-left: 120px;
}