body {
    text-align: center;
    margin-top: 50px;
}

#geral {
    text-align: start;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#titulo {
    padding: 15px;
    background-color: rgb(249, 244, 202);
}

#msg {
    background-color: rgb(255, 255, 240);
    margin-top: 10px;
    border-radius: 5px;
    height: 100px;
    width: 97%;
    text-align: start;
}

#satisfeito {
    background-color: aliceblue;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
    width: 25%;
    height: 300px;
    margin-right: 50px;
}

#duvida {
    background-color: antiquewhite;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
    width: 20%;
    height: 300px;
    margin-right: 50px;
}

#encontrou {
    background-color: rgb(230, 255, 230);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
    width: 25%;
    height: 300px;
}

#selecao {
    background-color: aliceblue;
    width: 15%;
    border-radius: 5px;
}